html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  max-height: 500px;
}

.robot {
  width: 320px;
  position: relative;
  margin: 0 auto;
  overflow: visible;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 5%;
  left: 35%;
  transform: translate(50%);
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: -20%;
  left: 35%;
}
